/* --width-prim - можно изменить в video/__iframes/video__iframes.css */
.video__iframe {
  width: var(--width-prim);
  height: 316px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.705);
  border-radius: 5px;
}
